<a href="https://colab.research.google.com/github/santhoshib-17/Python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Basic List Operation:
Write a Python program to create a list with the elements [10, 20, 30, 40, 50]. Then, replace the third element with 100 and print the updated list.
2.List Slicing:
Given the list numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9], write a Python program to print the first 5 elements and the last 3 elements using slicing.
3.List Comprehension:
Write a Python one-liner using list comprehension to generate a list of squares for numbers from 1 to 10.

In [ ]:
a="10,20,30,40,50"
a.replace("30","100")

'10,20,100,40,50'

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
print(a[:5])
print(a[-3:])

[1, 2, 3, 4, 5]
[7, 8, 9]

In [ ]:
c=[x**2 for x in range (1,11)]
print(c)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Tuple (2 Questions)
4.Tuple Immutability:
Given t = (1, 2, 3, 4), try modifying the second element to 10. What error do you get, and why?
5.Tuple Unpacking:
Given the tuple coordinates = (4, 5), write a Python program to unpack its values into two variables x and y and print them.


```
# This is formatted as code
```

In [ ]:
#t=(1,2,3,4)
#t.replace("2","10")
# As tuple is immutable, we cannot modify

In [ ]:
tuple_name = (4,5)
x,y= tuple_name
print(x)
print(y)

4
5

In [ ]:
"""
6.Basic Dictionary Operations:
Create a dictionary called student with the following key-value pairs:
json
CopyEdit
"name": "Alice",
"age": 21,
"grade": "A"
Then, update her age to 22 and add a new key "subject": "Math". Print the updated dictionary.
"""
dict={"name":"Alice","age":21,"grade":"A"}
dict.update({"age":22})
dict.update({"subject":"Math"})
print(dict)

{'name': 'Alice', 'age': 22, 'grade': 'A', 'subject': 'Math'}

In [ ]:
"""
7.Dictionary Iteration:
Given the dictionary:
python
CopyEdit
scores = {"Alice": 85, "Bob": 90, "Charlie": 78}
Write a Python program to print each student's name and their score.
"""
scores = {"Alice": 85, "Bob": 90, "Charlie": 78}
for name, score in scores.items():
    print(f"{name}: {score}")

Alice: 85
Bob: 90
Charlie: 78

In [ ]:
"""
8.Dictionary Key Search:
Write a Python program to check if the key "Bob" exists in the dictionary { "Alice": 90, "John": 85, "Mark": 92 }.
"""
e= {"Alice":90,"John":85,"Mark":92 }
if "Bob" in e:
   print("Bob exists in the dictionary")
else:
   print("Bob doesn't exists in the dictionary")

Bob doesn't exists in the dictionary

In [ ]:
"""
9.For Loop - Sum of List:
Write a Python program to find the sum of all elements in the list [5, 10, 15, 20, 25] using a for loop"""
i=[5,10,15,20,25]
sum=0
for x in i:
  sum=sum+x
print(sum)

75

In [ ]:
"""
10.While Loop - Reverse Counting:
Write a Python program that prints numbers from 10 to 1 in descending order using a while loop"""
count=10
while count>=1 :
 print ( count)
 count-=1

10
9
8
7
6
5
4
3
2
1

In [5]:
"""
11.Loop with Break & Continue:
Write a Python program that iterates through numbers from 1 to 10 but skips number 5 and stops the loop at 8.
"""
j = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for num in j:
    if num == 5:
        continue
    if num == 8:
        break
    print(num)

1
2
3
4
6
7

In [11]:
"""
12.Basic If-Else Condition:
Write a Python program that asks the user for a number. If the number is even, print "Even Number"; otherwise, print "Odd Number".
"""
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even Number")
else:
    print("Odd Number")

Enter a number: 5
Odd Number

In [12]:
"""
13.Nested If Conditions:
Write a Python program to check if a number is positive, negative, or zero.
"""
num = int(input("Enter a number: "))
if num >0:
  print("positive")
elif num <0:
    print("negative")
else:
      print("zero")

Enter a number: -9
negative

In [16]:
"""
14.Function with Arguments:
Write a function multiply(a, b) that takes two numbers and returns their product. Call this function with the values 5 and 3.
"""
a,b=5,3
def multiply(a,b):
  return a*b
  multiply(a,b)
print(multiply(a,b))

15

In [25]:
"""
15.Function with Default Parameter:
Write a function greet(name="Guest") that prints "Hello, [name]!". If no argument is passed, it should print "Hello, Guest!".
"""
def greet(name="Guest"):
    print(f"Hello, {name}!")
greet()

Hello, Guest!